.content {
	padding: 20px 0;
}

.container {
	max-width: 1024px;
	padding-left: 16px;
	padding-right: 16px;
	width: 95%;
	margin: 0 auto;
}

.content-cart {
	display: grid;
	grid-template-areas: 'info info' 'list amount';
	column-gap: 60px;
	grid-template-columns: 2fr 1fr;
	align-items: flex-start;
}

.cart-title {
	font-weight: 300;
	font-size: 28px;
	line-height: 32px;
	margin-bottom: 20px;
	grid-area: info;
}

.cart-title span {
	font-weight: 800;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	appearance: none;
}

input[type='number'],
input[type='number']:hover,
input[type='number']:focus {
	appearance: none;
	-moz-appearance: textfield;
}

.price-wrap {
	position: relative;
	padding-top: 1.2em;
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.price {
	font-size: 1.75em;
	line-height: 1.14;
	font-weight: 800;
	display: block;
}

.price_old {
	font-size: 0.875em;
	font-weight: 400;
	line-height: 1.42;
	text-decoration: line-through;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	font-weight: 600;
}

.price_discount {
	color: #f44336;
}

.price-big {
	font-size: 16px;
}

.price-small {
	font-size: 14px;
}

.price_left {
	left: 0;
	right: auto;
}

.price_right {
	left: auto;
	right: 0;
}
